{% extends 'base.html.twig' %}

{% block title %}Histogramme{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table
    {
        border-collapse: collapse;
        text-align: center;
    }
    td, th /* Mettre une bordure sur les td ET les th */
    {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Stats par exams ✅</h1>
    <p>Nombres de résultats : {{ nbResults }}</p>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>School Id</th>
            <th>Planned date</th>
            <th>Nb d'étudiants</th>
            <th>Min</th>
            <th>Max</th>
            <th>Moyenne</th>
        </tr>
        {% for elt in stats %}
        <tr>
            <td>{{ elt.id }}</td>
            <td>{{ elt.name }}</td>
            <td>{{ elt.school }}</td>
            <td>{{ elt.plannedDate }}</td>
            <td>{{ elt.nbStudents }}</td>
            <td>{{ elt.min }}</td>
            <td>{{ elt.max }}</td>
            <td>{{ elt.avg }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
