{% extends 'base.html.twig' %}

{% block title %}Histogramme{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table
    {
        border-collapse: collapse;
        text-align: center;
    }
    td, th /* Mettre une bordure sur les td ET les th */
    {
        border: 1px solid black;
    }
</style>

<div class="example-wrapper">
    <h1>Stats par école ✅</h1>
    <p>Nombres de résultats : {{ nbResults }}</p>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Nb d'examens</th>
            <th>Nb d'étudiants</th>
            <th>Nb de professeurs</th>
            <th>Nb de classes</th>
            <th>Nb d'années scolaire</th>
            <th>Nb de matières</th>
        </tr>
        {% for elt in results %}
        <tr>
            <td>{{ elt.id }}</td>
            <td>{{ elt.name }}</td>
            <td>{{ elt.nb_exams }}</td>
            <td>{{ elt.nb_students }}</td>
            <td>{{ elt.nb_profs }}</td>
            <td>{{ elt.nb_classes }}</td>
            <td>{{ elt.nb_educationYears }}</td>
            <td>{{ elt.nb_subjects }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
